<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="agregar-transaccion">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container label{
      color: blue;
      }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .container h3{color: blue}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvarB}}" class="container">
       <h3>Nueva Transacción</h3>
       <div class="form-group">
         <label for="concepto">Concepto</label>
         <input type="text" class="form-control" id="concepto"  placeholder="Ingrese el concepto" value="{{concepto::input}}">
       </div>
       <div class="form-group">
         <label for="operativa">Tipo de Transacción</label>
         <select class="form-control" placeholder="Seleccione el tipo de Transacción" id="operativa"  value="{{operativa::change}}">
           <option value="" disabled selected>Seleccione el tipo de Transacción</option>
           <option>DEPOSITO</option>
           <option>RETIRO</option>
           <option>TRANSFERENCIA</option>
         </select>
       </div>
       <div class="form-group">
         <label for="monto">Monto</label>
         <input type="text" class="form-control" id="monto"  placeholder="Ingrese el Monto" value="{{monto::input}}">
       </div>
       <div class="form-group">
         <label for="modBeneficiario">Modo de Seleccion del Benficiario (Email o Cuenta)</label>
         <select class="form-control" id="modBeneficiario"  value="{{modBeneficiario::change}}">
           <option value="cuenta_destino">Cuenta Beneficiaria</option>
           <option value="email_beneficiario">Email del Beneficiario</option>
         </select>
       </div>
       <div class="form-group">
         <label for="beneficiario">Beneficiario</label>
         <input type="text" class="form-control" id="beneficiario"  placeholder="Email o Cuenta del beneficiario" value="{{beneficiario::input}}">
       </div>
       <button  class="btn btn-primary" on-click="agregar">Confrimar</button>
     </div>

     <iron-ajax
       id="creartransaccion"
       url="http://localhost:3000/api-uruguay/v1/users/{{user}}/accounts/{{account}}/transactions"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class AgregarTransaccion extends Polymer.Element {
     static get is() { return 'agregar-transaccion'; }
     static get properties() {
       return {
         user:{
           type: String,
         },
         account:{
           type: String,
         },
         noEsTransferencia:{
           type: Boolean,
           value: false
         },
         isvarB:{
           type: Boolean,
           value: true
         },concepto: {
           type: String
         },modBeneficiario: {
           type: String
         },monto: {
           type: String
         },
         operativa: {
           type: String
         },
         beneficiario: {
           type: String
         },
         id: {String},
         isvar9:{
          type:Boolean,
          value: true
         }
       };
     }
     agregar(e) {
      console.log("El usuario ha pulsado el botón realizar confirmar transacción");
      console.log("concepto " + this.concepto);
      console.log("operativa " + this.operativa) ;
      console.log("monto " + this.monto);
      console.log("modo beneficiario " + this.modBeneficiario);
      console.log("beneficiario " + this.beneficiario);
      console.log("user " + this.user);
      console.log("account " + this.account);
       var trn = {
         "concepto" : this.concepto,
         "operativa" : this.operativa,
         "monto" : this.monto
       };
       if(this.operativa == 'TRANSFERENCIA'){
         if(this.modBeneficiario == "email_beneficiario"){
           trn.email_beneficiario = this.beneficiario;
         }else{
           trn.email_beneficiario = this.beneficiario;
         }
       }

       this.$.creartransaccion.body = JSON.stringify(trn);
       this.$.creartransaccion.generateRequest();
       console.log("Se confirmo transaccion");

     }
     notransferencia(e){
       console.log("Evalundo");
       console.log(this.operativa);
       if(this.operativa != 'TRANSFERENCIA'){
         this.noEsTransferencia = true;
       }
     }
     mostrarNuevaTransaccion(data){
       console.log("mostrarNuevaTransaccion:"+JSON.stringify(data));
       console.log("isvar9"+this.isvar9);
       this.isvar3=data.isvar3;
       this.isvar9=data.isvar9;
       this.user = data.idusu;
       this.account = data.idcue;
       this.first_name = data.first_name;
       this.last_name = data.last_name;
       this.nombrecuenta = data.nombrecuenta;
       this.email = data.email;
       this.isvarB=false;
      }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor luego de crear transaccion");
       console.log(data.detail.response);
       this.isvar5=false;
       this.isvar2=true;
       this.isvarB=true;
       this.dispatchEvent(new CustomEvent('panelmovimientos', {detail:{email:this.email,idr:this.user,idcue:this.account,nombrecuenta:this.nombrecuenta,first_name:this.first_name,last_name:this.last_name,isvar5:this.isvar5,isvarB:this.isvarB}}))
     }
     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
   }
   window.customElements.define(AgregarTransaccion.is, AgregarTransaccion);
 </script>
</dom-module>
