<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="pantalla-inicial">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
      }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <div hidden$="{{isvarD}}"  class="container text-center">
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <button type="button" class="btn btn-primary btn-lg btn-block" id = "miscuentas" on-click="cuentas">Mis Cuentas</button>
             <button type="button" class="btn btn-primary btn-lg btn-block" id = "administracion" on-click="usuarios">Administración de Usuarios</button>
           </div>
         </div>
     </div>
   </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class PantallaInicial extends Polymer.Element {
     static get is() { return 'pantalla-inicial'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: true
         },
         isvarD: {
          type: Boolean,
          value: false
         },
         ishome:{
           type:Boolean,
           value:false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         },
         isvar8:{
           type:Boolean,
           value:true
         }
       };
     }
     mostrarDatosRecibidosInicio(data){
       this.idr=data.idusu;
       this.first_name = data.first_name;
       this.last_name = data.last_name;
       this.email = data.email;
       this.isvar2=data.isvar2;
       this.isvarD = data.isvarD;
     }
     cuentas(e){
       console.log("Pantalla Incial, botón cuentas");
       this.isvarD = true;
       this.dispatchEvent(new CustomEvent('botoncuentas', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,isLogged:this.isLogged,ishome:this.ishome,idusu:this.idr,isvarD:this.isvarD}}))
     }
     usuarios(){
       console.log("Pantalla Incial, botón usuarios");
       this.isvarD = true;
       this.isvar7 = false
       this.dispatchEvent(new CustomEvent('botonusuarios', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,isLogged:this.isLogged,ishome:this.ishome,idusu:this.idr,isvarD:this.isvarD,isvar7:this.isvar7}}))

     }
   }
   window.customElements.define(PantallaInicial.is, PantallaInicial);
 </script>
</dom-module>
