<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="consultas-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h4{
       color: white;
     }
     .container h1{
       font-family: Helvetica;
       color: blue;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: white
     }
     #myInput {
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar7}}" class="container">
        <h1 class="text-center">Usuarios</h1>
        <table class="table table-bordered" id="myTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <template is="dom-repeat" id="Users" items="{{usuarios}}">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.email}}</td>
              <td>
                <button  class="btn btn-link" on-click="eliminar">Eliminar</button>
              </td>
          </tr>
        </template>
       </table>
       <div>
         <button type="button" id="volver" on-click="volver" class="btn btn-primary">Volver</button>
       </div>
   </div>
   <iron-ajax
     auto=""
     id="getuser"
     url="http://localhost:3000/api-uruguay/v1/users/"
     handle-as="json"
     on-response="showusers">
   </iron-ajax>

   <iron-ajax
     auto=""
     id="deleteuser"
     url="http://localhost:3000/api-uruguay/v1/users/{{useractual}}"
     method="DELETE"
     handle-as="json"
     on-response="respdelete"
     on-error="showerror">
   </iron-ajax>


 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class ConsultasUsuario extends Polymer.Element {
     static get is() { return 'consultas-usuario'; }
     static get properties() {
       return {
         isvar7:{
           type:Boolean,
           value:true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         usuarios: {
           type: Array
         }
       };
     }
     mostrarDatosRecibidosconsultas(data){
        console.log("Receptor consultas:"+JSON.stringify(data));
       this.isvar7=data.isvar7;
       this.first_name = data.first_name
       this.last_name = data.last_name
       this.email = data.email
       this.idr = data.idusu
       this.$.getuser.generateRequest();
      }
      showusers(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios consultas:");
         // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response);
         this.usuarios = data.detail.response.data;
       }
       eliminar(e){
         console.log("Elimnar a " + e.model.item.id)
         this.useractual = e.model.item.id;
         this.$.deleteuser.generateRequest();
       }
       showerror(data){
         console.log("error al eliminar")
       }
       respdelete(data){
         console.log("usuario eliminado")
         this.$.getuser.generateRequest();
       }
       volver(){
         console.log("Pantalla Usuarios, botón volver");
         this.isvar7 = true;
         this.dispatchEvent(new CustomEvent('loginOK', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,isLogged:this.isLogged,ishome:this.ishome,idusu:this.idr,isvar7:this.isvar7}}))
       }
   }

   window.customElements.define(ConsultasUsuario.is, ConsultasUsuario);
 </script>
</dom-module>
