<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h4{
       font-family: Helvetica;
       color: blue;
     }
     .container h1{
       font-family: Helvetica;
       color: blue;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: blue
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar5}}" class="container">
         <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
         <h4 class="col-md-5">Cuenta: {{nombrecuenta}}</h2>
           <h1 class="text-center">Movimientos</h1>
           <table class="table table-bordered">
           <thead class="thead-dark">
             <tr>
               <th scope="col">Número</th>
               <th scope="col">Operativa</th>
               <th scope="col">Tipo</th>
               <th scope="col">Concepto</th>
               <th scope="col">Monto</th>
               <th scope="col">Fecha</th>
             </tr>
           </thead>
           <template is="dom-repeat" id="transactions" items="{{listMovements}}">
               <tr>
                   <td>{{item.numero}}</td>
                   <td>{{item.operativa}}</td>
                   <td>{{item.tipo}}</td>
                   <td>{{item.concepto}}</td>
                   <td>{{item.monto}}</td>
                   <td>{{item.timestamp}}</td>
             </tr>
           </template>
          </table>
          <div>
            <button type="button" id="volver" on-click="volver" class="btn btn-primary">Volver</button>
          </div>
   </div>
   <iron-ajax
     auto=""
     id="getmovs"
     url="http://localhost:3000/api-uruguay/v1/users/{{idr}}/accounts/{{idcue}}/transactions"
     handle-as="json"
     on-response="showmovement"></iron-ajax>
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class MovimientosUsuario extends Polymer.Element {
     static get is() { return 'movimientos-usuario'; }
     static get properties() {
       return {
         isvar5:{
           type:Boolean,
           value:true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         listMovements: {
           type: Array
         },
         idr:{
           type:String,
         },
         idcue:{
           type:String,
         }
       };
     }

      showmovement(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios:");
   // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response);
         this.listMovements = data.detail.response.data;
       }
       mostrarDatosRecibidosmovimientos(data){
        console.log(JSON.stringify(data));
        this.idcue=data.idcue;
        this.isvar5=data.isvar5;
        this.nombrecuenta=data.nombrecuenta;
        this.idr=data.idr;
        this.first_name = data.first_name;
        this.last_name = data.last_name;
        console.log("Receptor movimientos"+ this.idcue);
        this.$.getmovs.generateRequest();
       }
       volver(){
         console.log("Pantalla Movimientos, botón volver");
         this.isvar5 = true;
         this.dispatchEvent(new CustomEvent('botoncuentas', {detail:{email:this.email,first_name:this.first_name,last_name:this.last_name,isLogged:this.isLogged,ishome:this.ishome,idusu:this.idr,isvarD:this.isvarD,isvar5:this.isvar5}}))
       }

   }
   window.customElements.define(MovimientosUsuario.is, MovimientosUsuario);
 </script>
</dom-module>
